# .env.example

# Localstack token key
LOCALSTACK_AUTH_TOKEN=< YOUR_LOCALSTACK_AUTH_TOKEN_HERE >

# AWS LocalStack Overrides
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
LOCALSTACK_ENDPOINT=http://localhost:4566

# Image Processor Variables
TARGET_WIDTH=200
WATERMARK_TEXT="© MyCompany"
SQS_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/ImageProcessedQueue
DLQ_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/DLQProcessorErrors
PROCESSED_BUCKET_NAME=processed-image-bucket-ravi

# Metadata Updater Variables
DYNAMODB_TABLE_NAME=ImageMetadataTable