# Local environments & Secrets
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log

# Python Caches & Binaries
__pycache__/
*.py[cod]
*$py.class
*.so

# Deployment Packages
*.zip

# localstack 
localstack/

# python libraries and files
bin/
boto3/
boto3-1.34.0.dist-info/
botocore/
botocore-1.34.162.dist-info/
dateutil/
jmespath/
jmespath-1.1.0.dist-info/
PIL/
pillow-10.2.0.dist-info/
pillow.libs/
python_dateutil-2.9.0.post0.dist-info/
s3transfer/
s3transfer-0.9.0.dist-info/
six-1.17.0.dist-info/
urllib3/
urllib3-1.26.18.dist-info/
six.py
